*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(85, 116, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header, footer{
    color: #fff;
}

section{
    background-color: #fff;
    margin: 20px;
    padding: 10px;
}